@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

	* {
		@apply [outline:none] select-none;
	}

	svg {
		@apply w-[1em] h-[1em] fill-[inherit];
	}
}

@layer components {
	.box {
		@apply z-10 relative flex items-center justify-center text-center h-20 border-gray-700 border-2 border-dashed rounded text-xs;
	}
}
