@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

    * {
        @apply select-none [outline:none];
    }

    svg {
        @apply h-[1em] w-[1em] fill-[inherit];
    }
}

@layer components {
    .box {
        @apply relative z-10 flex h-20 items-center justify-center rounded border-2 border-dashed border-gray-700 text-center text-xs;
    }
}
